<h2>Employee list:</h2>
<table class="table table-hover table-dark">
  <thead>
  <tr>
    <th scope="col">#ID</th>
    <th scope="col">FirstName</th>
    <th scope="col">LastName</th>
    <th>Operations</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <th scope="row">{{employee.employeeId}}</th>
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>
      <button (click)="updateEmployee(employee.employeeId)" class="btn btn-info">EDIT</button>
      <button (click)="delete(employee.employeeId)" class="btn btn-danger">DELETE</button>
      <button (click)="details(employee.employeeId)" class="btn btn-light">DETAILS</button>
    </td>
  </tr>


  </tbody>
</table>
<div class="centerBlock">
  <button class="btn btn-info" routerLink="/">Back to main menu</button>
</div>
