<h1>Employee details</h1>
<table class="table table-hover table-dark">
  <tbody>
  <tr>
    <td>ID</td>
    <td>{{employee.employeeId}}</td>
  </tr>
  <tr>
    <td>Firstname</td>
    <td>{{employee.firstName}}</td>
  </tr>
  <tr>
    <td>Lastname</td>
    <td>{{employee.lastName}}</td>
  </tr>
  <tr>
    <td>Department Id</td>
    <td>{{employee.departmentId}}</td>
  </tr>
  <tr>
    <td>Job title</td>
    <td>{{employee.jobTitle}}</td>
  </tr>
  <tr>
    <td>Date of birth</td>
    <td>{{employee.dateOfBirth}}</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>{{employee.gender}}</td>
  </tr>
  </tbody>
</table>
<div class="centerBlock">
  <button class="btn btn-info" routerLink="/employees">Back to employees</button>
</div>
